@import url('~simpledotcss/simple.min.css');

:root {
  --base-fontsize: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #FFF;
    --accent-bg: #F5F7FF;
    --text: #212121;
    --text-light: #585858;
    --border: #D8DAE1;
    --accent: #0D47A1;
    --accent-light: #90CAF9;
    --code: #D81B60;
    --preformatted: #444;
    --marked: #FFDD33;
    --disabled: #EFEFEF;
  }

  img, video {
    opacity: .6;
  }
} */

* {
  box-sizing: border-box;
}

ul.simple-list {
  list-style-type: none;
  margin: 0;
}


a {
  text-decoration: none;
  text-underline-offset: 0.2rem;
}

a.underlined {
  text-decoration: underline;
}

a:hover {
  color: var(--text) !important;
  text-decoration: underline;
}


pre {
  white-space: break-spaces;
}


code {
  font-size: 0.8rem;
}


.biography {
  padding: 2rem;
  width: 100%
}

.biography .photo {
  border-radius: 3rem;
}

.biography .name {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

.biography .tagline {
  margin: 1rem 0 0;
  color: #c1c1c1;
}

.biography .menu-links {
  padding: 0;
  margin-top: 2rem;
}

.biography .menu-links .menu-link-item:nth-child(n+2) {
  margin-top: 0.75rem;
}

.biography .social-media-links {
  display: flex;
  padding: 0;
  margin-top: 2rem;
}

.biography .social-media-links .social-media-item:nth-child(n+2) {
  margin-left: 1rem;
}

.biography .social-media-links .social-media-item .social-media-link {
  display: block;
  padding: 0.7rem;
  line-height: 1rem;
  border: 1px solid currentColor;
  border-radius: 2rem;
}

.biography .social-media-links .social-media-icon {
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.layout {
  display: flex;
  flex-direction: column;
}

.layout .main-container {
  flex-grow: 1;
  margin: 2rem;
}

.layout .main-container main {
  padding: 0;
  margin: 0;
  max-width: inherit;
}


.page-title {
  margin: 0 0 3rem;
}


.articles {
  padding: 0rem;
}

.articles .article-item:nth-child(n+2) {
  margin-top: 4rem;
}


.article-container > * {
  display: inline-block;
}

.article-container .title {
  margin: 0;
  font-size: 1.4rem;
}

.article-container.full-article .title {
  margin-top: 0.5rem;
  font-size: 1.7rem;
}

.article-container .top-container {
  display: flex;
  justify-content: space-between;
}

.article-container .top-container .date {
  font-size: 1.1rem;
  font-weight: 400;
}

.article-container .content {
  margin-top: 1rem;
}

.article-container.full-article .content {
  margin-top: 2rem;
}

.article-container .read-more-link {
  margin-top: 1.5rem;
}


.tag {
  padding: 0.2rem 0.6rem;
  border: 1px solid currentColor;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.tag:hover {
  text-decoration: none;
}

.tags {
  display: flex;
  padding: 0;
}

.tags .tag-container:nth-child(n+2) {
  margin-left: 0.5rem;
}


.search-container {
  margin-top: 2rem;
}

.search-container .search-field {
  width: 100%;
}

.search-container .results {
  padding-left: 0.5rem;
}

@media only screen and (min-width: 720px) {
  .layout {
    flex-direction: row;
  }

  .layout .main-container {
    width: 75%;
  }

  .biography {
    width: 25%;
    min-width: 15rem;
    max-width: 20rem;
  }
}